<html>

	<head>
		<title>FoxBounder</title>
		<link rel="icon" type="image/x-icon" href={{favicon}}>
		<link rel="Stylesheet" href={{style_link}}>
		<link rel="Stylesheet" href={{spincss_link}}>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://unpkg.com/vue@3"></script>
		<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>

		<script
			  src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
			  integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
			  crossorigin="anonymous"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Lora&family=Manrope&display=swap" rel="stylesheet"> 
	</head>
	<body style="background-image: url({{bk_img}});", data-stage="{{STAGE}}">
		<div class="outer">
			<div class="main head">
				<img class='logo' src="{{logo_image}}"> <h1> <a class="brand" href="/{{STAGE}}"> FoxBounder </a></h1>
				<div class="user_info"> {{email}} | <a href="/{{STAGE}}/logout">Logout</a> </div>
			</div>
				
			<div class="user_list" id="user_list">
				
				
			</div>
			

			<div class="main footer">
				
			The Center for Data Science at UMass Amherst | The Nature Conservency 
				
			</div>
		</div>

	</body>
	<script src={{sorttable_link}}></script>
	<script src={{spinjs_link}}></script>
	<script src={{js_link}}></script>
</html>